body{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.question-holder li{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
button{
    width:45%;
    padding:10px;
    background-color: cadetblue;
    border-radius: 10px;
    border-style:none;
    margin:5px;
}
button:hover{
    scale: 105%;
}

#start{
    display:none;
}
#quiz{
    display: block;
    justify-content: center;
    padding: 0% 5% 0% 5%;
}
#quiz div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#quiz div div{
    display:flex;
    flex-wrap: nowrap;
}
#quiz div div h1{
    font-size: 200%;
    height: 100px;
}
#quiz div div span{
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}
#results{
    display:none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#displayScore{
    font-size: 200%;
}
#scoreboard{
    min-height: 150px;
    height:fit-content;
    width:500px;
    background-color: lightgray;
    border-radius: 10px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}
#results div{
    display:flex;
    padding: 5%;
    flex-direction: column;
    align-items: center;
}